.form {
    width: 300px;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #ffffff;
    margin: 20px auto;
}

.input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-size: 14px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #7B68EE;  /* Lavender-ish color */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #6A5ACD;  /* Slightly darker shade for hover effect */
}
